* {
    font-family: "Noto Sans";

}

html {
    scroll-padding-top: 58px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #494949;
    border-radius: 1rem
}

::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 1rem
}

::-webkit-scrollbar-thumb:hover {
    background: #b9b9b9
}


form {
    color-scheme: dark;
    & input {
        background: transparent !important;
        color: white !important;
        &::placeholder {
            color: rgba(255, 255, 255, 0.55) !important;
        }
    }
}